<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body class = "container">
        <section class="menu">
                <p class="menu-label">
                  Burndown
                </p>
                <ul class="menu-list">
                  <li><a href="./burndown">By Level</a></li>
                </ul>
                <p class="menu-label">
                  Metrics
                </p>
                <ul class="menu-list">
                  <li><a href="./dau">Daily Active Players (DAP)</a></li>
                </ul>
                <p class="menu-label">
                  AB Test
                </p>
                <ul class="menu-list">
                  <li><a href="./ab/burndown">By Level</a></li>
                </ul>
        </section>
  </body>
</html>
